/nbproject/
/*.img
/*.img.bz2
/*.zip
/dist_*.txt
/autom4te.cache/
/configure
/Makefile
/config.log
/config.status
/work/
/.work*
/tui/esos_tui
/tui/*.o
/ChangeLog-*.txt
/chroot_build.sh
/binutils.pass1
/gcc.pass1
/gmp
/mpfr
/mpc
/kernel_headers
/glibc
/gcc.libstdc++
/binutils.pass2
/gcc.pass2
/tcl
/expect
/dejagnu
/check
/ncurses
/bash
/bison
/bzip2
/coreutils
/diffutils
/file
/findutils
/gawk
/gettext
/grep
/gzip
/m4
/make
/patch
/perl
/sed
/tar
/texinfo
/util-linux
/xz
/pkg-config
/which
/autoconf
/automake
/libtool
/flex
