SHELL=/bin/sh
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin
MAILTO=root
HOME=/

# Check all file systems; fsck uses the exit status to indicate a problem
0 0 * * * root fsck_out=$(/usr/sbin/fsck -A -M -T -p 2>&1); fsck_exit=${?}; if [ ${fsck_exit} -gt 0 ] && [ ${fsck_exit} -lt 8 ]; then echo ${fsck_out}; fi

# Configuration sync -- we cron this for a few times per day just in case
10 0,8,16 * * * root /usr/local/sbin/conf_sync.sh

# If the log directory gets too big, then archive the logs to reclaim the space
20 * * * * root if [ `du -sk /var/log | awk '{print $1}'` -ge 50000 ]; then /usr/local/sbin/archive_logs.sh; fi

# System health check script
30 * * * * root /usr/local/sbin/health_chk.sh > /dev/null

# Set the system time
40 * * * * root if [ -s "/etc/ntp_server" ]; then /usr/sbin/ntpd -n -q -N -p `/bin/cat /etc/ntp_server`; fi > /dev/null 2>&1

