# $Id$

SHELL=/bin/sh
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin
MAILTO=root
HOME=/

# Check all filesystems; we only want emails with output on stderr
0 0 * * * root /sbin/fsck -A -T -p > /dev/null

# Configuration sync -- we cron this for a few times per day just in case
10 0,8,16 * * * root /usr/local/sbin/conf_sync.sh

# If the log directory gets too big, then archive the logs to reclaim the space
20 * * * * root if [ `du -sk /var/log | awk '{print $1}'` -ge 50000 ]; then /usr/local/sbin/archive_logs; fi

# System health check script
30 * * * * root /usr/local/sbin/health_chk.sh > /dev/null

# Set the system time
40 * * * * root if [ -s "/etc/ntp_server" ]; then /usr/sbin/ntpd -n -q -N -p `/bin/cat /etc/ntp_server`; fi
